* {
  margin: 0;
  padding: 0;
}

/* index.html*/
body {
  height: 100vh;
  margin: 0;
  background-color: #dc143c;
  position: relative;
}

header {
  background-color: #ff0000;
  padding: 10px;
  margin-bottom: -20px;
}
header .logo {
  width: 300px;
  display: flex;
  transition: 1.2s;
}
header .logo:hover {
  transform: scale(1.5) translate(50px);
}
header h1 {
  height: 50px;
  text-align: center;
  border-style: dashed;
  margin-bottom: 20px;
  text-decoration: underline;
  border-width: 5px;
}
header .navbar {
  display: flex;
  justify-content: center;
}
header .menu-25px {
  text-align: center;
  width: 325px;
  height: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0px;
  border: double;
  list-style: none;
}
header li {
  display: inline-block;
}
header .menu-50px {
  text-align: center;
  width: 325px;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0px;
  border: double;
  list-style: none;
}
header li {
  display: inline-block;
}
header .menu-40px {
  text-align: center;
  width: 325px;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0px;
  border: double;
  list-style: none;
}
header li {
  display: inline-block;
}

.mainHtml {
  background-image: url(../assets/languages.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 150px 200px 200px;
  grid-gap: 60px 100px;
  grid-template-areas: "text1 text1 text1 text1" "text2 text2 text2 text2" "text3 text3 text3 text3" "terminos terminos terminos terminos";
}
.mainHtml .intro1 {
  margin-bottom: 20px;
  text-align: justify;
  margin-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 15px;
  grid-area: text1;
  font-size: 25px;
}
.mainHtml .intro2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: justify;
  margin-top: 30px;
  grid-area: text2;
  padding: 15px;
  font-size: 25px;
  margin-top: 100px;
}
.mainHtml .intro2Ul {
  grid-area: text3;
  font-size: 20px;
}
.mainHtml .decisiones {
  text-decoration: underline;
  font-weight: bold;
}
.mainHtml .memoria {
  text-decoration: underline;
  font-weight: bold;
}
.mainHtml .enfermedades {
  text-decoration: underline;
  font-weight: bold;
}

.footerIndex {
  bottom: auto;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  width: 800px;
  background-color: #ff0000;
}
footer .terminos {
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  margin-left: 50px;
  grid-area: terminos;
}
footer .terminosL {
  text-align: right;
  grid-area: terminos;
}
footer .redes {
  text-align: right;
  grid-area: terminos;
}

@media only screen and (max-width: 576px) {
  .navIndex {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .menu {
    border: double;
  }
  .mainHtml {
    width: 576px;
    height: 700px;
    background-size: cover;
  }
  .intro1 {
    font-size: medium;
  }
  .intro2 {
    margin-top: 20px;
    font-size: medium;
  }
  .footerIndex {
    position: relative;
    display: block;
    height: 50px;
    width: 572px;
  }
  .terminosL {
    text-align: start;
  }
}
/* sobre-nosotros.html */
.sn .equipo {
  display: flex;
  position: relative;
  justify-content: right;
}
.sn .equipo .stockEquipo {
  transition: 1.5s;
}
.sn .equipo .stockEquipo:hover {
  transform: translate(-400px) scale(1.3);
}

@media only screen and (max-width: 576px) {
  .stockEquipo:hover {
    transform: translate(-50px) scale(1.1);
  }
  .sn {
    max-width: 576px;
    height: 300px;
  }
}
.descSN {
  display: inline;
  font-size: 20px;
  margin-top: 30px;
}

.subtSN {
  text-decoration: underline;
}

.caption {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border: double;
}

/* clases.html */
.fondo .clases {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
}
.fondo .video {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* idiomas.html */
.flags {
  width: 100%;
  min-height: 400px;
  background-color: #ffa500;
  background-image: linear-gradient(#ff9900, #ff5e00);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 150px 200px 200px 100px;
  grid-gap: 120px 100px;
  grid-template-areas: "text1 ingles text2 frances" "text3 aleman text4 italiano" "text5 portugues text6 ruso";
}

.idioma {
  border: 2px solid #ff0;
}

.txtIngles {
  grid-area: text1;
  position: relative;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}
.txtIngles:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 250px;
  height: 125px;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
  background: linear-gradient(180deg, transparent, transparent 44px, #c8102e 44px, #c8102e 66px, transparent 66px, transparent 100%), linear-gradient(90deg, transparent, transparent 99px, #c8102e 99px, #c8102e 121px, transparent 121px, transparent 100%), linear-gradient(180deg, transparent, transparent 37px, #FFF 37px, #FFF 73px, transparent 73px, transparent 100%), linear-gradient(90deg, transparent, transparent 92px, #FFF 92px, #FFF 128px, transparent 128px, transparent 100%), linear-gradient(26.56505deg, transparent, transparent 91px, #c8102e 91px, #c8102e 98px, transparent 98px, transparent 100%) 0 0/110px 100% no-repeat, linear-gradient(-26.56505deg, transparent, transparent 98px, #c8102e 98px, #c8102e 106px, transparent 106px, transparent 100%) 110px 0/110px 100% no-repeat, linear-gradient(26.56505deg, transparent, transparent 98px, #c8102e 98px, #c8102e 106px, transparent 106px, transparent 100%) 110px 55px/110px 100% no-repeat, linear-gradient(-26.56505deg, transparent, transparent 91px, #c8102e 91px, #c8102e 98px, transparent 98px, transparent 100%) 0 55px/110px 100% no-repeat, linear-gradient(27deg, transparent, transparent 87px, #FFF 87px, #FFF 109px, transparent 109px, transparent 100%), linear-gradient(153deg, transparent, transparent 87px, #FFF 87px, #FFF 109px, transparent 109px, transparent 100%), #012169;
  transform: scale(3) translate(150px) translateY(-50px);
  color: #008000;
  font-size: 15px;
}
.txtIngles:hover:before {
  opacity: 1;
  visibility: visible;
}

.ingles {
  width: 320px;
  grid-area: ingles;
  height: 220px;
}

.txtFrances {
  grid-area: text2;
  position: relative;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}
.txtFrances:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 250px;
  height: 125px;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
  transform: scale(3) translate(-80px) translateY(-50px);
  color: #008000;
  font-size: 15px;
}
.txtFrances:hover:before {
  opacity: 1;
  background: linear-gradient(to right, #0000ff 33%, #ffffff 33%, #ffffff 66%, rgba(255, 0, 0, 0.9294117647) 66%);
  visibility: visible;
}

.frances {
  height: 220px;
  width: 320px;
  grid-area: frances;
}

.txtAleman {
  grid-area: text3;
  position: relative;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}
.txtAleman:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 250px;
  height: 125px;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
  transform: scale(3) translate(170px) translateY(-60px);
  color: #008000;
  font-size: 14px;
}
.txtAleman:hover:before {
  opacity: 1;
  background: linear-gradient(#000 33.333%, #FF0000 33.33% 66.666%, #FFCC00 66.666%);
  visibility: visible;
}

.aleman {
  height: 220px;
  width: 320px;
  grid-area: aleman;
}

.txtItaliano {
  grid-area: text4;
  position: relative;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}
.txtItaliano:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 250px;
  height: 125px;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
  transform: scale(3) translate(-90px) translateY(-60px);
  color: rgb(241, 98, 241);
  font-size: 15px;
}
.txtItaliano:hover:before {
  opacity: 1;
  background: linear-gradient(to right, #008000 33%, #ffffff 33%, #ffffff 66%, #ff0000 66%);
  visibility: visible;
}

.italiano {
  height: 220px;
  width: 320px;
  grid-area: italiano;
}

.txtPortugues {
  grid-area: text5;
  position: relative;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}
.txtPortugues:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 250px;
  height: 125px;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
  transform: scale(3) translate(170px) translateY(-120px);
  color: rgb(241, 98, 241);
  font-size: 11px;
}
.txtPortugues:hover:before {
  opacity: 1;
  background-image: url(../assets/portuguese.png);
  background-size: cover;
  background-position: center;
  visibility: visible;
}

.portugues {
  width: 320px;
  grid-area: portugues;
}

.txtRuso {
  grid-area: text6;
  position: relative;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}
.txtRuso:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 250px;
  height: 125px;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
  transform: scale(3) translate(-80px) translateY(-120px);
  color: rgb(241, 98, 241);
  font-size: 11px;
}
.txtRuso:hover:before {
  opacity: 1;
  background: linear-gradient(#FFF 33.33%, #0039A6 33.33% 66.67%, #D52B1E 66.67%);
  visibility: visible;
}

.ruso {
  height: 220px;
  width: 320px;
  grid-area: ruso;
}

.footerIdiomas {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  width: 800px;
}

/* idiomas.html Media queries */
@media only screen and (max-width: 576px) {
  .main-idiomas {
    width: 576px;
  }
  .flags {
    display: block;
  }
  .txtIngles:before {
    transform: scale(1.9) translate(60px) translateY(-120px);
  }
  .txtFrances:before {
    transform: scale(1.9) translate(-120px) translateY(-50px);
  }
  .txtAleman:before {
    transform: scale(1.9) translate(-120px) translateY(-120px);
  }
  .txtItaliano:before {
    transform: scale(1.9) translate(-120px) translateY(-60px);
  }
  .txtPortugues:before {
    transform: scale(1.9) translate(-120px) translateY(-120px);
  }
  .txtRuso:before {
    transform: scale(1.9) translate(-120px) translateY(-120px);
  }
}
/* contacto.html */
.contacto, .sn, .fondo {
  background-color: #d3d3d3;
}

.emailT {
  display: block;
  margin-top: 10px;
}

.emailP {
  display: block;
}

.edad {
  margin-bottom: 10px;
}

.selec {
  margin-bottom: 10px;
}

.clases-s {
  display: block;
}

.botones {
  margin-top: 20px;
  margin-left: 20px;
}

.botonesDiv {
  display: block;
}

.consulta {
  margin-bottom: 20px;
}

/*# sourceMappingURL=estilos.css.map */
