* {
  margin: 0;
  padding: 0;
}

/* index.html*/
body {
  height: 100vh;
  margin: 0;
  background-color: #f3722c;
  position: relative;
}

header {
  padding: 9.6px;
  margin-bottom: -20px;
  background-color: #F9C74F;
}
header .logo {
  width: 23.4375vw;
  display: flex;
  transition: 1.2s;
}
header .logo:hover {
  transform: scale(1.8) translatex(200px) translatey(50px);
}
header h1 {
  height: 5.7741559953vh;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 4.8px;
  margin-top: 4.8px;
  text-decoration: underline;
  border-width: 4.8px;
  color: #f3722c;
}
header .navbar {
  justify-content: baseline;
  border: double;
}
header .navIndex {
  width: 30vw;
}
header .menu-25px {
  text-align: center;
  width: 6.25vw;
  height: 25px;
  margin-top: 25px;
  list-style: none;
}
header li {
  display: inline-block;
  border-right: 1px solid;
}
header .menu-50px {
  text-align: center;
  width: 6.25vw;
  height: 50px;
  margin-top: 50px;
  list-style: none;
}
header li {
  display: inline-block;
  border-right: 1px solid;
}
header .menu-40px {
  text-align: center;
  width: 6.25vw;
  height: 40px;
  margin-top: 40px;
  list-style: none;
}
header li {
  display: inline-block;
  border-right: 1px solid;
}

.mainHtml {
  background-color: #F9C74F;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 150px 200px 200px;
  grid-gap: 60px 100px;
  grid-template-areas: "text1 text1 text1 text1" "text2 text2 text2 text2" "text3 text3 text3 text3" "terminos terminos terminos terminos";
}
.mainHtml .intro1 {
  margin-bottom: 20px;
  text-align: justify;
  margin-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 15px;
  grid-area: text1;
  font-size: 1.5em;
}
.mainHtml .intro2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: justify;
  margin-top: 30px;
  grid-area: text2;
  padding: 15px;
  font-size: 1.5em;
  margin-top: 100px;
}
.mainHtml .intro2Ul {
  grid-area: text3;
  font-size: 1.25em;
  margin-left: 24px;
}
.mainHtml .decisiones {
  text-decoration: underline;
  font-weight: bold;
}
.mainHtml .memoria {
  text-decoration: underline;
  font-weight: bold;
}
.mainHtml .enfermedades {
  text-decoration: underline;
  font-weight: bold;
}

.footerIndex {
  bottom: auto;
  width: 98.6vw;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  width: 97.4vw;
  padding: 16px;
  background-color: #F9C74F;
  justify-content: center;
}
footer .terminos {
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  margin-left: 50px;
  grid-area: terminos;
  color: #f94144;
}
footer .terminosL {
  text-align: right;
  grid-area: terminos;
  color: #f94144;
  font-weight: bold;
}
footer .redes {
  text-align: right;
  grid-area: terminos;
}

/* sobre-nosotros.html */
.navSN {
  padding-bottom: 16px;
  margin-bottom: 8px;
  width: 25vw;
}

.sn {
  height: 74.5052386496vh;
}
.sn .equipo {
  display: inline;
  position: relative;
  justify-content: right;
}
.sn .equipo .stockEquipo {
  transition: 1.5s;
  margin-left: 304px;
}
.sn .equipo .stockEquipo:hover {
  transform: translate(-80px) scale(1.3);
}

.descSN {
  display: inline;
  font-size: 1.25em;
  margin-top: 30px;
}

.subtSN {
  text-decoration: underline;
  text-align: center;
  color: #277DA1;
}

.caption {
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
  border: double;
}

/* clases.html */
.navClases {
  padding-bottom: 16px;
  margin-bottom: 8px;
  width: 25vw;
}

.textoVideo {
  text-align: center;
  margin-top: 16px;
}

.fondo .clases {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
  color: #277DA1;
}
.fondo .video {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.footerClases {
  background-color: #F9C74F;
  padding: 41px;
  width: 93.4vw;
}

/* idiomas.html */
.navIdiomas {
  width: 25vw;
}

.listaIdiomas {
  text-align: center;
  margin-top: 8px;
  background-color: #F9C74F;
  text-decoration: underline;
  color: #277DA1;
}

.flags {
  min-height: 46.565774156vh;
  background-color: #F9C74F;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 150px 200px 200px 100px;
  grid-gap: 120px 100px;
  grid-template-areas: "text1 ingles text2 frances" "text3 aleman text4 italiano" "text5 portugues text6 ruso";
}

.idioma {
  border: 2px solid #ffff00;
}

.ingles {
  width: 25vw;
  grid-area: ingles;
  height: 25.6111757858vh;
}

.txtIngles {
  grid-area: text1;
  position: relative;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 1.25em;
  text-decoration: underline;
}
.txtIngles::before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 19.53125vw;
  height: 14.5518044237vh;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
  background: linear-gradient(180deg, transparent, transparent 44px, #c8102e 44px, #c8102e 66px, transparent 66px, transparent 100%), linear-gradient(90deg, transparent, transparent 99px, #c8102e 99px, #c8102e 121px, transparent 121px, transparent 100%), linear-gradient(180deg, transparent, transparent 37px, #ffffff 37px, #ffffff 73px, transparent 73px, transparent 100%), linear-gradient(90deg, transparent, transparent 92px, #ffffff 92px, #ffffff 128px, transparent 128px, transparent 100%), linear-gradient(26.56505deg, transparent, transparent 91px, #c8102e 91px, #c8102e 98px, transparent 98px, transparent 100%) 0 0/110px 100% no-repeat, linear-gradient(-26.56505deg, transparent, transparent 98px, #c8102e 98px, #c8102e 106px, transparent 106px, transparent 100%) 110px 0/110px 100% no-repeat, linear-gradient(26.56505deg, transparent, transparent 98px, #c8102e 98px, #c8102e 106px, transparent 106px, transparent 100%) 110px 55px/110px 100% no-repeat, linear-gradient(-26.56505deg, transparent, transparent 91px, #c8102e 91px, #c8102e 98px, transparent 98px, transparent 100%) 0 55px/110px 100% no-repeat, linear-gradient(27deg, transparent, transparent 87px, #ffffff 87px, #ffffff 109px, transparent 109px, transparent 100%), linear-gradient(153deg, transparent, transparent 87px, #ffffff 87px, #ffffff 109px, transparent 109px, transparent 100%), #012169;
  transform: scale(3) translate(150px) translateY(-50px);
  color: #00FFFF;
  font-size: 0.8975em;
}
.txtIngles:hover::before {
  opacity: 1;
  visibility: visible;
}

.frances {
  height: 25.6111757858vh;
  width: 25vw;
  grid-area: frances;
}

.txtFrances {
  grid-area: text2;
  position: relative;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 1.25em;
  text-decoration: underline;
}
.txtFrances::before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 19.53125vw;
  height: 14.5518044237vh;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
  transform: scale(3) translate(-80px) translateY(-50px);
  color: #00FFFF;
  font-size: 0.8em;
}
.txtFrances:hover::before {
  opacity: 1;
  background: linear-gradient(to right, #0000ff 33%, #ffffff 33%, #ffffff 66%, rgba(255, 0, 0, 0.9294117647) 66%);
  visibility: visible;
}

.aleman {
  height: 25.6111757858vh;
  width: 25vw;
  grid-area: aleman;
}

.txtAleman {
  grid-area: text3;
  position: relative;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 1.25em;
  text-decoration: underline;
}
.txtAleman::before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 19.53125vw;
  height: 14.5518044237vh;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
  transform: scale(3) translate(170px) translateY(-60px);
  color: #00FFFF;
  font-size: 0.7em;
}
.txtAleman:hover::before {
  opacity: 1;
  background: linear-gradient(#000000 33.333%, #FF0000 33.33% 66.666%, #FFCC00 66.666%);
  visibility: visible;
}

.italiano {
  height: 25.6111757858vh;
  width: 25vw;
  grid-area: italiano;
}

.txtItaliano {
  grid-area: text4;
  position: relative;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 1.25em;
  text-decoration: underline;
}
.txtItaliano::before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 19.53125vw;
  height: 14.5518044237vh;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
  transform: scale(3) translate(-90px) translateY(-60px);
  color: #00FFFF;
  font-size: 0.8em;
}
.txtItaliano:hover::before {
  opacity: 1;
  background: linear-gradient(to right, #008000 33%, #ffffff 33%, #ffffff 66%, #ff0000 66%);
  visibility: visible;
}

.portugues {
  width: 26.25vw;
  grid-area: portugues;
}

.txtPortugues {
  grid-area: text5;
  position: relative;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 1.25em;
  text-decoration: underline;
}
.txtPortugues::before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 19.53125vw;
  height: 14.5518044237vh;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
  transform: scale(3) translate(170px) translateY(-120px);
  color: #00FFFF;
  font-size: 0.58em;
}
.txtPortugues:hover::before {
  opacity: 1;
  background-image: url(../assets/portuguese.png);
  background-size: cover;
  background-position: center;
  visibility: visible;
}

.ruso {
  height: 25.6111757858vh;
  width: 25vw;
  grid-area: ruso;
}

.txtRuso {
  grid-area: text6;
  position: relative;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 1.25em;
  text-decoration: underline;
}
.txtRuso::before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 19.53125vw;
  height: 14.5518044237vh;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
  transform: scale(3) translate(-80px) translateY(-120px);
  color: #00FFFF;
  font-size: 0.58em;
}
.txtRuso:hover::before {
  opacity: 1;
  background: linear-gradient(#ffffff 33.33%, #0039A6 33.33% 66.67%, #D52B1E 66.67%);
  visibility: visible;
}

.footerIdiomas {
  position: relative;
  width: 96.09vw;
}

/* contacto.html */
.navContacto {
  padding-bottom: 8px;
  margin-bottom: 8px;
  margin-top: 15px;
  width: 30vw;
}

.contacto, .sn, .fondo {
  background-color: #F9C74F;
  border: groove 2px black;
  border-radius: 15px;
  margin-top: 10px;
}
.contacto .h2C, .sn .h2C, .fondo .h2C {
  text-align: center;
}

.h2C {
  color: #277DA1;
}

.nombre {
  margin-left: 528px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.emailT {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.emailP {
  display: block;
  margin-left: 528px;
}

.edad {
  margin-bottom: 32px;
  margin-left: 528px;
}

.selecT {
  display: block;
  text-align: center;
}

.selec {
  margin-bottom: 10px;
  margin-left: 528px;
  margin-top: 8px;
}

.clases-s {
  display: block;
  text-align: center;
}

.uno {
  margin-left: 560px;
}

.precios {
  display: flex;
  margin-left: 528px;
}

.primerPrecio {
  margin-right: 24px;
}

.segundoPrecio {
  margin-right: 24px;
}

.botones {
  margin-top: 20px;
  margin-left: 20px;
}

.botonesDiv {
  display: block;
  margin-left: 528px;
  margin-bottom: 32px;
}

.consulta {
  margin-bottom: 20px;
  margin-left: 512px;
}

.metodo {
  margin-left: 400px;
}

.pago {
  display: block;
  text-align: center;
}

.numT {
  display: block;
  text-align: center;
}

#ccn {
  margin-left: 528px;
}

.footerContacto {
  position: relative;
  width: 98.7vw;
}

/* Media queries */
/* index */
@media only screen and (min-width: 360px) and (max-width: 760px) {
  body {
    background-color: #F9C74F;
  }
  .logo {
    transition: 0.8s;
  }
  .logo:hover {
    transform: scale(0.5) translatex(8px) translatey(18px);
  }
  .tituloIndex {
    margin-bottom: 128.85px;
  }
  .navIndex {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 32px;
    margin-left: 16px;
  }
  .menu {
    border: double;
  }
  .mainHtml {
    width: 760px;
    height: 81.490104773vh;
    background-size: cover;
    display: inline;
  }
  .intro1 {
    font-size: 1.3em;
  }
  .intro2 {
    font-size: 1.3em;
  }
  .intro2Ul {
    margin-top: 20px;
    padding: 8px;
  }
  .footerIndex {
    position: relative;
    display: inline-block;
    height: 5.8207217695vh;
    width: 44.6875vw;
  }
  .terminosL {
    text-align: start;
  }
}
/* Sobre nosotros */
@media only screen and (min-width: 360px) and (max-width: 760px) {
  #fotoStock:hover {
    transform: translate(10px) scale(1.4);
  }
  .stockEquipo {
    width: 80%;
    margin-top: 20%;
  }
  #fotoStock {
    margin-left: 20px;
  }
  .navSN {
    margin-bottom: 32px;
    margin-left: 32px;
  }
  .subtSN {
    margin-bottom: 16px;
  }
  .sn {
    max-width: 760px;
    height: 56vh;
  }
  .footerSN {
    position: relative;
    bottom: -350px;
    left: auto;
    display: inline;
  }
}
/* Idiomas */
@media only screen and (min-width: 360px) and (max-width: 760px) {
  .flags {
    display: block;
  }
  .idioma {
    display: block;
    width: 40vw;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 30%;
    height: 35vh;
  }
  .textoIdioma {
    margin-left: 48%;
  }
  .txtIngles::before {
    transform: scale(2) translate(-30px) translateY(-50px);
    width: 40vw;
    height: 20vh;
    background-image: url(/assets/english.jpg);
    background-size: cover;
    font-size: 0.6em;
  }
  .txtFrances::before {
    transform: scale(1.9) translate(-35px) translateY(-50px);
    width: 40vw;
    height: 18vh;
    font-size: 0.55em;
  }
  .txtAleman::before {
    transform: scale(1.9) translate(-35px) translateY(-30px);
    width: 40vw;
    height: 18vh;
    font-size: 0.47em;
  }
  .txtItaliano::before {
    transform: scale(1.9) translate(-35px) translateY(-30px);
    width: 40vw;
    height: 20vh;
    font-size: 0.55em;
  }
  .txtPortugues::before {
    transform: scale(1.9) translate(-35px) translateY(-30px);
    width: 40vw;
    height: 20vh;
    font-size: 0.39em;
  }
  .txtRuso::before {
    transform: scale(1.9) translate(-35px) translateY(-30px);
    width: 40vw;
    height: 20vh;
    font-size: 0.42em;
  }
}
/* Clases */
@media only screen and (min-width: 360px) and (max-width: 760px) {
  .clasesTitulo {
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
  .navClases {
    margin-bottom: 32px;
    margin-left: 32px;
  }
  .footerClases {
    position: relative;
    bottom: -32px;
    left: auto;
    display: inline;
  }
}
/* Contacto */
@media only screen and (min-width: 360px) and (max-width: 760px) {
  .navContacto {
    margin-bottom: 32px;
    margin-left: 32px;
  }
  .tituloContacto {
    margin-bottom: 128.85px;
  }
  .footerContacto {
    position: relative;
    bottom: -32px;
    left: auto;
    display: inline;
  }
  .nombre {
    margin-left: 35%;
    margin-top: 15px;
  }
  .emailT {
    text-align: center;
  }
  .emailP {
    margin-left: 35%;
  }
  .edad {
    margin-left: 43%;
    margin-bottom: 24px;
  }
  .selecT {
    display: block;
    text-align: center;
  }
  .selec {
    margin-left: 41%;
  }
  .clases-s {
    text-align: center;
  }
  .uno {
    margin-left: 40%;
  }
  .precios {
    display: flex;
    margin-left: 36%;
  }
  .primerPrecio {
    margin-right: 24px;
  }
  .segundoPrecio {
    margin-right: 24px;
  }
  .consulta {
    margin-left: 35%;
  }
  .botonesDiv {
    margin-left: 35%;
    margin-bottom: 32px;
  }
  .metodos {
    display: block;
  }
  .metodo {
    margin-left: 15%;
  }
  .mercadoPago {
    margin-left: 0%;
  }
  .pago {
    display: block;
    text-align: center;
  }
  #ccn {
    margin-left: 35%;
  }
}

/*# sourceMappingURL=estilos.css.map */
