.flags {
    width: 100%;

    min-height: 25em;

    background-color: #ffa500;

    background-image: linear-gradient(#ff9900, #ff5e00);

    padding: 1.25em;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    grid-template-rows: 9.375em 12.5em 12.5em 6.25em;

    grid-gap: 7.5em 6.25em;

    grid-template-areas: "text1 ingles text2 frances"
        "text3 aleman text4 italiano"
        "text5 portugues text6 ruso"
}

.idioma {
    border: 2px solid #ff0;
}

.txtIngles {
    grid-area: text1;

    position: relative;

    text-align: center;

    margin-top: 3.125em;

    font-weight: bold;

    font-size: 1.25em;

    text-decoration: underline;

    &::before {
        content: attr(data-hover);
    
        visibility: hidden;
    
        opacity: 0;
    
        width: 15.625em;
    
        height: 7.8125em;
    
        text-align: center;
    
        border-radius: 0.3125em;
    
        padding: 0.3125em 0;
    
        transition: opacity 1s ease-in-out;
    
        position: absolute;
    
        z-index: 1;
    
        left: 0;
    
        top: 110%;
    
        background: linear-gradient(180deg, transparent, transparent 2.75em, #c8102e 2.75em, #c8102e 4.125em, transparent 4.125em, transparent 100%), linear-gradient(90deg, transparent, transparent 6.1875em, #c8102e 6.1875em, #c8102e 7.5625em, transparent 7.5625em, transparent 100%), linear-gradient(180deg, transparent, transparent 2.3125em, #FFF 2.3125em, #FFF 4.5625em, transparent 4.5625em, transparent 100%), linear-gradient(90deg, transparent, transparent 5.75em, #FFF 5.75em, #FFF 8em, transparent 8em, transparent 100%), linear-gradient(26.56505deg, transparent, transparent 5.6875em, #c8102e 5.6875em, #c8102e 6.125em, transparent 6.125em, transparent 100%) 0 0/6.875em 100% no-repeat, linear-gradient(-26.56505deg, transparent, transparent 6.125em, #c8102e 6.125em, #c8102e 6.625em, transparent 6.625em, transparent 100%) 6.875em 0/6.875em 100% no-repeat, linear-gradient(26.56505deg, transparent, transparent 6.125em, #c8102e 6.125em, #c8102e 6.625em, transparent 6.625em, transparent 100%) 6.875em 3.4375em/6.875em 100% no-repeat, linear-gradient(-26.56505deg, transparent, transparent 5.6875em, #c8102e 5.6875em, #c8102e 6.125em, transparent 6.125em, transparent 100%) 0 3.4375em/6.875em 100% no-repeat, linear-gradient(27deg, transparent, transparent 5.4375em, #FFF 5.4375em, #FFF 6.8125em, transparent 6.8125em, transparent 100%), linear-gradient(153deg, transparent, transparent 5.4375em, #FFF 5.4375em, #FFF 6.8125em, transparent 6.8125em, transparent 100%), #012169;
    
        transform: scale(3.0) translate(9.375em) translateY(-3.125em);
    
        color: #008000;
    
        font-size: 0.9375em;
    }

    &:hover::before {
        opacity: 1;
        
        visibility: visible;
    }
}

.ingles {
    width: 20em;

    grid-area: ingles;
    
    height: 13.75em;
}

.txtFrances {
    grid-area: text2;

    position: relative;
    
    text-align: center;
    
    margin-top: 3.125em;
    
    font-weight: bold;
    
    font-size: 1.25em;
    
    text-decoration: underline;

    &::before {
        content: attr(data-hover);
    
        visibility: hidden;
    
        opacity: 0;
    
        width: 15.625em;
    
        height: 7.8125em;
    
        text-align: center;
    
        border-radius: 0.3125em;
    
        padding: 0.3125em 0;
    
        transition: opacity 1s ease-in-out;
    
        position: absolute;
    
        z-index: 1;
    
        left: 0;
    
        top: 110%;
    
        transform: scale(3.0) translate( -5em) translateY( -3.125em);
    
        color: #008000;
    
        font-size: 0.9375em;
    }

    &:hover::before {
        opacity: 1;

        background: linear-gradient(to right, #0000ff 33%, #ffffff 33%, #ffffff 66%,#ff0000ed 66%);

        visibility: visible;
    }
}

.frances {
    height: 13.75em;

    width: 20em;

    grid-area: frances;
}

.txtAleman {
    grid-area: text3;

    position: relative;
    
    text-align: center;
    
    margin-top: 3.125em;
    
    font-weight: bold;
    
    font-size: 1.25em;
    
    text-decoration: underline;

    &::before {
        content: attr(data-hover);
    
        visibility: hidden;
    
        opacity: 0;
    
        width: 15.625em;
    
        height: 7.8125em;
    
        text-align: center;
    
        border-radius: 0.3125em;
    
        padding: 0.3125em 0;
    
        transition: opacity 1s ease-in-out;
    
        position: absolute;
    
        z-index: 1;
    
        left: 0;
    
        top: 110%;
    
        transform: scale(3.0) translate(170px) translateY(-3.75em);
    
        color: #008000;
    
        font-size: 0.875em;
    }

    &:hover::before {
        opacity: 1;
    
        background: linear-gradient(#000 33.333%, #FF0000 33.33% 66.666%, #FFCC00 66.666%);;
    
        visibility: visible;
    }
}

.aleman {
    height: 13.75em;

    width: 20em;

    grid-area: aleman;
}

.txtItaliano {
    grid-area: text4;

    position: relative;
    
    text-align: center;
    
    margin-top: 3.125em;
    
    font-weight: bold;
    
    font-size: 1.25em;
    
    text-decoration: underline;

    &::before {
        content: attr(data-hover);
    
        visibility: hidden;
    
        opacity: 0;
    
        width: 15.625em;
    
        height: 7.8125em;
    
        text-align: center;
    
        border-radius: 0.3125em;
    
        padding: 0.3125em 0;
    
        transition: opacity 1s ease-in-out;
    
        position: absolute;
    
        z-index: 1;
    
        left: 0;
    
        top: 110%;
    
        transform: scale(3.0) translate(-90px) translateY(-3.75em);
    
        color: rgb(241, 98, 241);
    
        font-size: 0.9375em;
    }

    &:hover::before {
        opacity: 1;
    
        background:linear-gradient(to right, #008000 33%, #ffffff 33%, #ffffff 66%, #ff0000 66%);
    
        visibility: visible;
    }
}

.italiano {
    height: 13.75em;

    width: 20em;

    grid-area: italiano;
}

.txtPortugues {
    grid-area: text5;

    position: relative;
    
    text-align: center;
    
    margin-top: 3.125em;
    
    font-weight: bold;
    
    font-size: 1.25em;
    
    text-decoration: underline;

    &::before {
        content: attr(data-hover);
    
        visibility: hidden;
    
        opacity: 0;
    
        width: 15.625em;
    
        height: 7.8125em;
    
        text-align: center;
    
        border-radius: 0.3125em;
    
        padding: 0.3125em 0;
    
        transition: opacity 1s ease-in-out;
    
        position: absolute;
    
        z-index: 1;
    
        left: 0;
    
        top: 110%;
    
        transform: scale(3.0) translate(170px) translateY(-7.5em);
    
        color: rgb(241, 98, 241);
    
        font-size: 0.6875em;
    }
    
    &:hover::before {
        opacity: 1;
    
        background-image: url(../assets/portuguese.png);
    
        background-size:cover;
    
        background-position: center;
    
        visibility: visible;
    }
}

.portugues {
    width: 13.75em;

    grid-area: portugues;
}

.txtRuso {
    grid-area: text6;

    position: relative;
    
    text-align: center;
    
    margin-top: 3.125em;
    
    font-weight: bold;
    
    font-size: 1.25em;
    
    text-decoration: underline;

    &::before {
        content: attr(data-hover);
    
        visibility: hidden;
    
        opacity: 0;
    
        width: 15.625em;
    
        height: 7.8125em;
    
        text-align: center;
    
        border-radius: 0.3125em;
    
        padding: 0.3125em 0;
    
        transition: opacity 1s ease-in-out;
    
        position: absolute;
    
        z-index: 1;
    
        left: 0;
    
        top: 110%;
    
        transform: scale(3.0) translate( -5em) translateY(-7.5em);
    
        color: rgb(241, 98, 241);
    
        font-size: 11px;
    }

    &:hover::before {
        opacity: 1;
    
        background: linear-gradient(#FFF 33.33%, #0039A6 33.33% 66.67%, #D52B1E 66.67%);
    
        visibility: visible;
    }
}

.ruso {
    height: 13.75em;

    width: 20em;

    grid-area: ruso;
}

.footerIdiomas {
    position: relative;

    bottom: 0;

    left: 50%;

    transform: translate(-50%);

    display: flex;

    width: 50em;
}

/* idiomas.html Media queries */

@media only screen  and (max-width: 576px) {
    .main-idiomas {
        width: 576px;
    }

    .flags {
        display:block;
    }

    .txtIngles::before {
        transform: scale(1.9) translate(3.75em) translateY(-7.5em)
    }

    .txtFrances::before {
        transform: scale(1.9) translate(-7.5em) translateY( -3.125em) ;
    }

    .txtAleman::before {
    transform: scale(1.9) translate(-7.5em) translateY(-7.5em);
    }

    .txtItaliano::before {
    transform: scale(1.9) translate(-7.5em) translateY(-3.75em);
    }

    .txtPortugues::before {
    transform: scale(1.9) translate(-7.5em) translateY(-7.5em);
    }
    
    .txtRuso::before {
    transform: scale(1.9) translate(-7.5em) translateY(-7.5em);
    }
}
