@media only screen  and (min-width: 480px) and (max-width: $mobile) {
    body {
        background-color: $color4;

        height: 4.375em;
    }

    .navIndex {
        display: flex;

        justify-content: $cnt;

        position: relative;

        margin-top: 2em;

        margin-left: 1em;
    }

    .menu {
        border: double;
    }

    .mainHtml {
        width: $mobile;

        height: 43.75em;

        background-size: cover;
    }

    .intro1 {
        font-size: $f-size2;

        margin-bottom: 1.25em;
    }

    .intro2 {
        margin: 1.25em;

        font-size: $f-size2;
    }

    .intro2Ul {
        margin-top: 1.25em;

        padding: 0.5em;
    }

    .footerIndex {
        position: relative;

        display: block;

        height: 3.125em;

        width: 35.75em;
    }
    .terminosL {
        text-align: start;
    }
}

/* Sobre nosotros */

@media only screen  and (max-width: $mobile) {
    .stockEquipo:hover { 
        transform: translate(-3.125em) scale(1.1) ;
    }

    .sn {
        max-width: $mobile;

        height: 18.75em;
    }
}

/* Idiomas */

@media only screen  and (max-width: 576px) {
    .main-idiomas {
        width: 576px;
    }

    .flags {
        display:block;
    }

    .txtIngles::before {
        transform: scale(1.9) translate(3.75em) translateY(-7.5em)
    }

    .txtFrances::before {
        transform: scale(1.9) translate(-7.5em) translateY( -3.125em) ;
    }

    .txtAleman::before {
    transform: scale(1.9) translate(-7.5em) translateY(-7.5em);
    }

    .txtItaliano::before {
    transform: scale(1.9) translate(-7.5em) translateY(-3.75em);
    }

    .txtPortugues::before {
    transform: scale(1.9) translate(-7.5em) translateY(-7.5em);
    }
    
    .txtRuso::before {
    transform: scale(1.9) translate(-7.5em) translateY(-7.5em);
    }
}