/* index */

@media only screen  and (min-width: 480px) and (max-width: $mobile) {
    body {
        background-color: $color4;
    }

    .logo {
        transition: 0.8s;

        &:hover {
            transform: scale(0.5) translatex(0.5em) translatey(1.125em);
        }
    }

    .navIndex {
        display: flex;

        justify-content: $cnt;

        position: relative;

        margin-top: 2em;

        margin-left: 1em;
    }

    .menu {
        border: double;
    }

    .mainHtml {
        width: $mobile;

        height: 43.75em;

        background-size: cover;

        display: inline;
    }

    .intro1 {
        font-size: $f-size2;
    }

    .intro2 {
        font-size: $f-size2;
    }

    .intro2Ul {
        margin-top: 1.25em;

        padding: 0.5em;
    }

    .footerIndex {
        position: relative;

        display: inline-block;

        height: 3.125em;

        width: 35.75em;
    }
    .terminosL {
        text-align: start;
    }
}

/* Sobre nosotros */

@media only screen  and (min-width: 480px) and (max-width: $mobile) {
    .stockEquipo:hover { 
        transform: translate(-0.125em) scale(0.1);
    }

    .stockEquipo {
        width: 80%;

        margin-left: auto;
    }

    .navSN {
        margin-bottom: 2em;

        margin-left: 2em;
    }

    .subtSN {
        margin-bottom: 1em;
    }

    .sn {
        max-width: $mobile;

        height: 15.75em;
    }

    .footerSN {
        position: relative;

        bottom: -20em;

        left: auto;

        display: inline;
    }
}

/* Idiomas */

@media only screen  and (min-width: 480px) and (max-width: $mobile) {
    .flags {
        display:block;
    }

    .txtIngles::before {
        transform: scale(1.9) translate(3.75em) translateY(-7.5em)
    }

    .txtFrances::before {
        transform: scale(1.9) translate(-7.5em) translateY( -3.125em) ;
    }

    .txtAleman::before {
    transform: scale(1.9) translate(-7.5em) translateY(-7.5em);
    }

    .txtItaliano::before {
    transform: scale(1.9) translate(-7.5em) translateY(-3.75em);
    }

    .txtPortugues::before {
    transform: scale(1.9) translate(-7.5em) translateY(-7.5em);
    }
    
    .txtRuso::before {
    transform: scale(1.9) translate(-7.5em) translateY(-7.5em);
    }
}

/* Clases */

@media only screen  and (min-width: 480px) and (max-width: $mobile) {
    .navClases {
    margin-bottom: 2em;

    margin-left: 2em;
}

.footerClases {
    position: relative;

    bottom: -2em;

    left: auto;

    display: inline;
}
}

/* Contacto */

@media only screen  and (min-width: 480px) and (max-width: $mobile) {
    .navContacto {
    margin-bottom: 2em;

    margin-left: 2em;
}

.footerContacto {
    position: relative;

    bottom: -2em;

    left: auto;

    display: inline;
}

.nombre {
    margin-left: 8em;

    margin-top: 1em;
}

.emailT {
    text-align: $cnt;
}

.emailP {
    margin-left: 8em;
}

.edad {
    margin-left: 12em;

    margin-bottom: 1.5em;
}

.selecT {
    display: block;
    
    text-align: $cnt;
}

.selec {
    margin-left: 11em;
}

.clases-s {
    text-align: $cnt;
}

.uno {
    margin-left: 12em;
}

.precios {
    display: flex;

    margin-left: 10em;
}

.primerPrecio {
    margin-right: 1.5em;
}

.segundoPrecio {
    margin-right: 1.5em;
}

.consulta {
    margin-left: 8em;
}

.botonesDiv {
    margin-left: 9em;

    margin-bottom: 2em;
}

.metodos {
    display: block;
}

.metodo {
    margin-left: 3em;
}

.mercadoPago {
    margin-left: 10em;
}

.pago {
    display: block;

    text-align: $cnt;
}

#ccn {
    margin-left: 10em;
}
}