/* index */

@media only screen  and (min-width: $min-mobile) and (max-width: $max-mobile) {
    body {
        background-color: $color4;
    }

    .logo {
        transition: 0.8s;

        &:hover {
            transform: scale(0.5) translatex(8px) translatey( 18px);
        }
    }

    .tituloIndex {
        margin-bottom: 5%;

        height: 100%;
    }

    .navIndex {
        margin-top: 5%;
    }

    .menu {
        border: double;
    }

    .mainHtml {
        width: $max-mobile;

        height: 81.49010477299186vh;

        background-size: cover;

        display: inline;
    }

    .intro1 {
        font-size: $f-size2;
    }

    .intro2 {
        font-size: $f-size2;
    }

    .intro2Ul {
        margin-top: 20px;

        padding: 8px;
    }

    .footerIndex {
        position: relative;
        
        display: inline;

        left: auto;

        height: 5.820721769499418vh;

        width: 44.6875vw;
    }
    .terminosL {
        text-align: start;
    }
}

@media only screen  and (min-width: $min-tablet) and (max-width: $max-tablet) {
    body {
        background-color: $color4;

        .navIndex {
            margin-top: 10%;
        }
    
        .mainHtml {
            .intro1 {
                padding-bottom: 5%;
        
                margin-bottom: 5%;
            }

            .intro2 {
                margin-top: 20%;
        
                padding-top: 15%;
            }
        
            .intro2Ul {
                margin-top: 25%;
            }
        }

        .footerIndex {
            display: flex;
    
            height: 25vh;
    
            width: 100vw;
    
            bottom: -170%;
    
            flex-direction: column;
    
            flex-wrap: wrap;
        }
    }
}

@media only screen  and (min-width: $min-desktop) and (max-width: $max-desktop) {
    .tituloIndex {
        margin-bottom: 3%;
    }

    .intro2 {
        margin-top: 20%;

        padding-top: 15%;
    }

    .footerIndex {
        width: 100vw;
    }
}

/* Sobre nosotros */

@media only screen  and (min-width: $min-mobile) and (max-width: $max-mobile) {
    #fotoStock:hover { 
        transform: translate(10px) scale(0.8);
    }

    .stockEquipo {
        width: 80vw;

        margin-top: 15%;
    }

    #fotoStock {
        margin-left: 20px;
    }

    .navSN {
        margin-bottom: 32px;

        margin-left: 32px;
    }

    .subtSN {
        margin-bottom: 16px;
    }

    .sn {
        max-width: $max-mobile;

        height: 56vh;
    }

    .footerSN {
        position: relative;

        bottom: -80%;

        left: auto;

        display: inline;
    }
}

@media only screen  and (min-width: $min-tablet) and (max-width: $max-tablet) {
    .footerSN {
        position: relative;

        bottom: -20%;
    }

    #fotoStock {
        width: 40%;

        margin-left: 30%;
    }

    #fotoStock:hover { 
        transform: translate(10px) scale(1.4);
    }
}

@media only screen  and (min-width: $min-desktop) and (max-width: $max-desktop) {
    .footerSN {
        position: relative;

        bottom: -5%;

        width: 100vw;
    }

    .sn {
        height: 100%;
    }

    .subtSN {
        margin-bottom: 3%;
    }

    figure {
        height: 100%;

        background-color: $color4;
    }

    #fotoStock {
        width: 40%;

        margin-left: 30%;

        margin-top: 2%;
    }

    #fotoStock:hover { 
        transform: translate(10px) scale(1.4);
    }
}

/* Idiomas */

@media only screen  and (min-width: $min-mobile) and (max-width: $max-mobile) {
    .tituloIdiomas {
        height: 100%;
    }

    .flags {
        display:block;
    }

    .idioma {
        display: block;

        width: 40vw;

        margin-top: 10px;

        margin-bottom: 40px;

        margin-left: 30%;

        height: $flagVH;
    }

    .textoIdioma {
        margin-left: 48%;
    }

    .txtIngles::before {
        transform: scale(2) translate(-30px) translateY(-50px);

        width: 40vw;

        height: 20vh;

        background-image: url(/assets/english.jpg);

        background-size: cover;

        font-size: 0.50em;
    }

    .txtFrances::before {
        transform: scale(1.9) translate(-35px) translateY( -50px) ;

        width: 40vw;

        height: 18vh;

        font-size: 0.44em;
    }

    .txtAleman::before {
    transform: scale(1.9) translate(-35px) translateY(-30px);

    width: 40vw;

    height: 18vh;

    font-size: 0.38em;
    }

    .txtItaliano::before {
    transform: scale(1.9) translate(-35px) translateY(-30px);

    width: 40vw;

    height: 20vh;

    font-size: 0.46em;
    }

    .txtPortugues::before {
    transform: scale(1.9) translate(-35px) translateY(-30px);

    width: 40vw;

    height: 20vh;

    font-size: 0.33em;
    }
    
    .txtRuso::before {
    transform: scale(1.9) translate(-35px) translateY(-30px);

    width: 40vw;

    height: 20vh;

    font-size: 0.34em;
    }
}

@media only screen  and (min-width: $min-tablet) and (max-width: $max-tablet) {
    .listaIdiomas {
        margin-top: 4%;
    }

    .flags {
        grid-gap: 3%;
    }

    .txtIngles::before {
        transform: scale(2) translate(120px) translateY(-100px);

        width: 30vw;

        height: 25vh;

        background-image: url(/assets/english.jpg);

        background-size: cover;

        font-size: 0.74em;
    }

    .txtFrances::before {
        transform: scale(1.9) translate(-80px) translateY( -85px) ;

        width: 30vw;

        height: 20vh;

        font-size: 0.57em;
    }

    .txtAleman::before {
    transform: scale(1.9) translate(45px) translateY(-110px);

    width: 30vw;

    height: 20vh;

    font-size: 0.51em;
    }

    .txtItaliano::before {
    transform: scale(1.9) translate(15px) translateY(-110px);

    width: 30vw;

    height: 20vh;

    font-size: 0.56em;
    }

    .txtPortugues::before {
    transform: scale(1.9) translate(45px) translateY(-100px);

    width: 30vw;

    height: 20vh;

    font-size: 0.42em;
    }
    
    .txtRuso::before {
    transform: scale(1.9) translate(15px) translateY(-100px);

    width: 30vw;

    height: 20vh;

    font-size: 0.42em;
    }
}

@media only screen  and (min-width: $min-desktop) and (max-width: $max-desktop) {
    .listaIdiomas {
        margin-top: 1%;
    }

    .flags {
        grid-gap: 10%;
    }

    .idioma {
        width: 20vw;

        height: 30vh;
    }

    .txtIngles::before {
        transform: scale(2) translate(120px) translateY(-100px);

        width: 20vw;

        height: 30vh;

        background-image: url(/assets/english.jpg);

        background-size: cover;

        font-size: 0.72em;
    }

    .txtFrances::before {
        transform: scale(1.9) translate(-80px) translateY( -85px) ;

        width: 20vw;

        height: 25vh;

        font-size: 0.61em;
    }

    .txtAleman::before {
    transform: scale(1.9) translate(70px) translateY(-110px);

    width: 20vw;

    height: 25vh;

    font-size: 0.53em;
    }

    .txtItaliano::before {
    transform: scale(1.9) translate(15px) translateY(-110px);

    width: 20vw;

    height: 25vh;

    font-size: 0.58em;
    }

    .txtPortugues::before {
    transform: scale(1.9) translate(70px) translateY(-120px);

    width: 20vw;

    height: 25vh;

    font-size: 0.42em;
}
    
    .txtRuso::before {
    transform: scale(1.9) translate(35px) translateY(-100px);

    width: 20vw;

    height: 25vh;

    font-size: 0.46em;
    }
}

.footerIdiomas {
    position: relative;

    padding: 6%;

    width: 98.6vw;
}

/* Clases */

@media only screen  and (min-width: $min-mobile) and (max-width: $max-mobile) {
    .clasesTitulo {
        padding-bottom: 20px;

        margin-bottom: 40px;

        height: 100%;
    }

    .navClases {
    margin-bottom: 32px;

    margin-left: 32px;
}

.footerClases {
    position: relative;

    bottom: -32px;

    left: auto;

    display: inline;
}
}

@media only screen  and (min-width: $min-tablet) and (max-width: $max-tablet) {
    .footerClases {
        bottom: -90%;
    }

    .clasesTitulo {
        margin-bottom: 5%;
    }
}

@media only screen  and (min-width: $min-desktop) and (max-width: $max-desktop) {
    .footerClases {
        width: 98.6vw;
    }
}

/* Contacto */

@media only screen  and (min-width: $min-mobile) and (max-width: $max-mobile) {
    .navContacto {
    margin-bottom: 32px;

    margin-left: 32px;
}

.tituloContacto {
    margin-bottom: 128.85px;
}

.footerContacto {
    position: relative;

    bottom: -32px;

    left: auto;

    display: inline;
}

.nombre {
    margin-left: $form-left;

    margin-top: 15px;
}

.emailT {
    text-align: $cnt;
}

.emailP {
    margin-left: $form-left;
}

.edad {
    margin-left: 43%;

    margin-bottom: 24px;
}

.selecT {
    display: block;
    
    text-align: $cnt;
}

.selec {
    margin-left: 41%;
}

.clases-s {
    text-align: $cnt;
}

.uno {
    margin-left: 40%;
}

.precios {
    display: flex;

    margin-left: 36%;
}

.primerPrecio {
    margin-right: 24px;
}

.segundoPrecio {
    margin-right: 24px;
}

.consulta {
    margin-left: $form-left;
}

.botonesDiv {
    margin-left: $form-left;

    margin-bottom: 32px;
}

.metodos {
    display: block;
}

.metodo {
    margin-left: 15%;
}

.mercadoPago {
    margin-left: 0%;
}

.pago {
    display: block;

    text-align: $cnt;
}

#ccn {
    margin-left: $form-left;
}
}

@media only screen  and (min-width: $min-tablet) and (max-width: $max-tablet) {
    .tituloContacto {
        height: 100%;
    }

    .nombre {
        margin-left: 37%;
    }

    .emailT {
        margin-left: -4%;
    }

    .emailP {
        margin-left: 37%;
    }

    .edad {
        margin-left: 44%;
    }

    .selec {
        margin-left: 42%;
    }

    .clases-s {
        text-align: $cnt;
    }
    
    .uno {
        margin-left: 40%;
    }
    
    .precios {
        display: flex;
    
        margin-left: 36%;
    }
    
    .primerPrecio {
        margin-right: 24px;
    }
    
    .segundoPrecio {
        margin-right: 24px;
    }
    
    .consulta {
        margin-left: $form-left;
    }
    
    .botonesDiv {
        margin-left: $form-left;
    
        margin-bottom: 32px;
    }
    
    .metodos {
        display: block;
    }
    
    .metodo {
        margin-left: 15%;
    }
    
    .mercadoPago {
        margin-left: 0%;
    }
    
    .pago {
        display: block;
    
        text-align: $cnt;
    }
    
    #ccn {
        margin-left: $form-left;
    }
}

@media only screen  and (min-width: $min-desktop) and (max-width: $max-desktop) {
    .nombre {
        margin-left: 43%;
    }

    .emailT {
        margin-left: -4%;
    }

    .emailP {
        margin-left: 43%;
    }

    .edad {
        margin-left: 47%;
    }

    .selec {
        margin-left: 46%;
    }

    .clases-s {
        text-align: $cnt;
    }
    
    .uno {
        margin-left: 46%;
    }
    
    .precios {
        display: flex;
    
        margin-left: 44%;
    }
    
    .primerPrecio {
        margin-right: 24px;
    }
    
    .segundoPrecio {
        margin-right: 24px;
    }
    
    .consulta {
        margin-left: 42%;
    }
    
    .botonesDiv {
        margin-left: 43%;
    
        margin-bottom: 32px;
    }
    
    .metodos {
        display: block;
    }
    
    .metodo {
        margin-left: 32%;
    }
    
    .mercadoPago {
        margin-left: 0%;
    }
    
    .pago {
        display: block;
    
        text-align: $cnt;
    }
    
    #ccn {
        margin-left: 44%;
    }

    .footerContacto {
        width: 100vw;
    }
}