$color1: #ff0000;
$color2: crimson;
$animacion1: scale(1.5) translate(50px);
$cnt: center;
$background1: url(../assets/languages.jpg);
$intro1-fonts:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$intro2-fonts:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


* {
    margin: 0;

    padding: 0;
}

/* index.html*/

body {
    height: 100vh;

    background-color: $color2;

    margin: 0;

    position: relative;
}

header {
    background-color: $color1;

    padding: 10px;

    margin-bottom: -20px;

    .logo {
        width: 300px;
    
        display: flex;
    
        transition: 1.2s;

        &:hover {
            transform: $animacion1;
        }   
    }

    h1 {
        height: 50px;
    
        text-align: $cnt;
    
        border-style: dashed;
    
        margin-bottom: 20px;
    
        text-decoration: underline;
    
        border-width: 5px;
    }

    .navbar {
        display: flex;
    
        justify-content: $cnt;
    }

    .menu {
        text-align: $cnt;
    
        width: 325px;
    
        height: 25px;
    
        margin-top: 50px;
    
        margin-bottom: 40px;
    
        padding: 0px;
    
        border: double;
    
        list-style: none;
    }

    li {
        display: inline-block;
    }
    
}

.mainHtml {
    background-image: $background1;

    background-repeat: no-repeat;

    background-size:contain;

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    grid-template-rows: 150px 200px 200px ;

    grid-gap: 120px 100px;

    grid-template-areas: "text1 text1 text1 text1"
        "text2 text2 text2 text2"
        "terminos terminos terminos terminos" ;

    .intro1 {
        margin-bottom: 20px;
        
        text-align: justify;
        
        margin-top: 20px;
        
        font-family: $intro1-fonts;
        
        padding: 15px;
        
        grid-area: text1;
    }

    .intro2 {
        font-family: $intro2-fonts;
        
        text-align: justify;
        
        margin-top: 30px;
        
        grid-area: text2;
    }
}

footer {
    position: absolute;

    bottom: 0;

    left: 50%;

    transform: translate(-50%);

    display: flex;

    width: 800px;

    background-color: $color1;

    .terminos {
        text-align: $cnt;
    
        font-weight: bold;
    
        font-style: oblique;
    
        margin-left: 50px;
    
        grid-area: terminos;
    }

    .terminosL {
        text-align: right;
    
        grid-area: terminos;
    }

    .redes {
        text-align: right;
    
        grid-area: terminos;
    }
}

/* sobre-nosotros.html */

.sn {
    background: #d3d3d3;

    .equipo {
        display: flex;
    
        position: relative;
    
        justify-content: right;

        #stockEquipo {
            transition: 1.5s;

            &:hover {
                transform: translate(-400px) scale(1.3) ;
            }
        }
    }
}

@media only screen  and (max-width: 576px) {
    #stockEquipo:hover { 
        transform: translate(-50px) scale(1.1) ;
    }
    .sn {
        max-width: 576px;
        height: 300px;
    }
}

/* clases.html */

.fondo {
    background-color: #d3d3d3;

    .clases {
        text-align: center;
    
        text-decoration: underline;
    
        margin-bottom: 20px;
    }

    .video {
        margin-top: 50px;
    
        display: flex;
    
        justify-content: center;
    }
}


/* idiomas.html */

@import '../scss/_idioma';

/* contacto.html */

.contacto {
    background-color: #d3d3d3;
}



