// Variables //

$color1: #f94144;
$color2: #f3722c;
$color3: #f8961e;
$color4: #F9C74F;
$color5: #277DA1;
$animacion1: scale(1.8) translatex(200px) translatey(50px);
$cnt: center;
$background1: url(../assets/languages.jpg);
$intro1-fonts:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$mobile: 576px;
$f-size1: 1.5em;
$f-size2: 1.3em;
$f-size3: 1.25em;


* {
    margin: 0;

    padding: 0;
}

/* index.html*/

@mixin medidas($alt, $mgin, $bcolor) {
    height: $alt;

    margin: $mgin;
    
    background-color: $bcolor;
}


body {
    @include medidas(100vh, 0,$color2 );

    position: relative;
}

    header {
    padding: 9.6px;

    margin-bottom: -20px;

    background-color: $color4;

    .logo {
        width: 23.4375vw;
    
        display: flex;
    
        transition: 1.2s;

        &:hover {
            transform: $animacion1;
        }   
    }

    h1 {
        height: 5.774155995343422vh;
    
        text-align: $cnt;

        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
        margin-bottom: 4.8px;

        margin-top: 4.8px;
    
        text-decoration: underline;
    
        border-width: 4.8px;

        color: $color2;
    }

    .navbar {
        justify-content: baseline;

        border:  double;
    }

    .navIndex {
        width: 30vw;
    }

    $size-color : (

    25px: #ff0000,

    50px: #ffa500,

    40px: #ffff00,

    );

    @each $sizes, $colores in $size-color {

    .menu-#{$sizes} {
        text-align: $cnt;
    
        width: 6.25vw;
    
        height: $sizes;
    
        margin-top: $sizes;
    
        list-style: none;
    }

    li {
        display: inline-block;

        border-right: 1px solid;
    }
}
}
.mainHtml {
    background-color: $color4;

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    grid-template-rows:  150px 200px 200px ;

    grid-gap: 60px 100px;

    grid-template-areas: "text1 text1 text1 text1"
        "text2 text2 text2 text2"
        "text3 text3 text3 text3"
        "terminos terminos terminos terminos" ;

    .intro1 {
        margin-bottom: 20px;
        
        text-align: justify;
        
        margin-top: 20px;
        
        font-family: $intro1-fonts;
        
        padding: 15px;
        
        grid-area: text1;

        font-size: $f-size1;
    }

    .intro2 {
        font-family: $intro1-fonts;
        
        text-align: justify;
        
        margin-top: 30px;
        
        grid-area: text2;

        padding: 15px;

        font-size: $f-size1;

        margin-top: 100px;
    }

    .intro2Ul {
        grid-area: text3;

        font-size: $f-size3;

        margin-left: 24px;
    }

    .decisiones {
        text-decoration: underline;
    
        font-weight: bold;
    }

    .memoria {
        text-decoration: underline;
    
        font-weight: bold;
    }

    .enfermedades {
        text-decoration: underline;
        
        font-weight: bold;
    }
}

.footerIndex {
    bottom: auto;
}

footer {
    position: absolute;

    bottom: 0;

    left: 50%;

    transform: translate(-50%);

    display: flex;

    width: 98.62500000000001vw;

    padding: 16px;

    background-color: $color4;

    .terminos {
        text-align: $cnt;
    
        font-weight: bold;
    
        font-style: oblique;
    
        margin-left: 50px;
    
        grid-area: terminos;

        color: $color1;
    }

    .terminosL {
        text-align: right;
    
        grid-area: terminos;

        color: $color1;

        font-weight: bold;
    }

    .redes {
        text-align: right;
    
        grid-area: terminos;
    }
}

/* sobre-nosotros.html */

.navSN {
    padding-bottom: 16px;

    margin-bottom: 8px;

    width: 25vw;
}

.sn {
    @extend .contacto;
    
    height: 74.50523864959256vh;

    .equipo {
        display: inline;
    
        position: relative;
    
        justify-content: right;

        .stockEquipo {
            transition: 1.5s;

            margin-left: 304px;

            &:hover {
                transform: translate(-80px) scale(1.3) ;
            }
        }
    }
}

.descSN {
    display: inline;

    font-size: $f-size3;
    
    margin-top: 30px;
}

.subtSN {
    text-decoration: underline;

    text-align: $cnt;

    color: $color5;
}

.caption {
    text-align: $cnt;

    font-weight: bold;

    font-size: $f-size3;

    border:double;
}

/* clases.html */

.navClases {
    padding-bottom: 16px;

    margin-bottom: 8px;

    width: 25vw;
}

.textoVideo {
    text-align: $cnt;

    margin-top: 16px;
}

.fondo {
@extend .contacto;

    .clases {
        text-align: $cnt;
    
        text-decoration: underline;
    
        margin-bottom: 20px;

        color: $color5;
    }

    .video {
        margin-top: 50px;
    
        display: flex;
    
        justify-content: $cnt;
    }
}

.footerClases {
    background-color: $color4;
}

/* idiomas.html */

@import '../scss/_idioma';

/* contacto.html */

.navContacto {
    padding-bottom: 8px;

    margin-bottom: 8px;

    width: 25vw;
}

.contacto {
    background-color: $color4;

    border: groove 2px black;

    border-radius: 15px;

    margin-top: 10px;

    .h2C {
        text-align: center;
    }
}

.h2C {
    color: $color5;
}

.nombre {
    margin-left: 528px;

    margin-top: 32px;

    margin-bottom: 16px;
}

.emailT {
    display: block;

    margin-top: 10px;

    text-align: $cnt;
}

.emailP {
    display: block;

    margin-left: 528px;
    
}

.edad {
    margin-bottom: 32px;

    margin-left: 528px;
}

.selecT {
    display: block;

    text-align: $cnt;
}

.selec {
    margin-bottom: 10px;

    margin-left: 528px;

    margin-top: 8px;
}

.clases-s {
    display: block;

    text-align: $cnt;
}

.uno {
    margin-left: 560px;
}

.precios {
    display: flex;

    margin-left: 528px;
}

.primerPrecio {
    margin-right: 24px;
}

.segundoPrecio {
    margin-right: 24px;
}

.botones {
    margin-top: 20px;

    margin-left: 20px;
}

.botonesDiv {
    display: block;

    margin-left: 528px;

    margin-bottom: 32px;
}

.consulta {
    margin-bottom: 20px;

    margin-left: 512px;
}

.metodo {
    margin-left: 400px;
}

.pago {
    display: block;

    text-align: $cnt;
}

.numT {
    display: block;

    text-align: $cnt;
}

#ccn {
    margin-left: 528px;
}

.footerContacto {
    position: relative;
}

/* Media queries */

@import '../scss/media';